<div class="container">
<div class="page-content contact-section">
  <h1>Fale Conosco</h1>

  <!-- <p>Dúvidas ou sugestões? Preencha o formulário abaixo e entraremos em contato o mais breve possível.</p> -->

  <form class="contact-form">
    <label for="name">Nome</label>
    <input type="text" id="name" name="name" placeholder="Seu nome" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="seu@email.com" required>

    <label for="message">Mensagem</label>
    <textarea id="message" name="message" rows="5" placeholder="Escreva sua mensagem..." required></textarea>

    <button type="submit">Enviar</button>
  </form>
</div>
</div>