<div class="user-manager">
  <h2>Usuários</h2>
  <ul>
    <li *ngFor="let user of users">
      Nome: {{ user.name.firstname }} {{ user.name.lastname }} - Usuário:
      {{ user.username }} - Email: {{ user.email }}
      <button (click)="deleteUser(user.id)">Remover</button>
    </li>
  </ul>

  <h3>Adicionar novo usuário</h3>
  <form (ngSubmit)="addUser()">
    <input
      [(ngModel)]="newUser.username"
      name="username"
      placeholder="Username"
      required
    />
    <input
      [(ngModel)]="newUser.password"
      name="password"
      placeholder="Password"
      required
    />
    <input
      [(ngModel)]="newUser.email"
      name="email"
      placeholder="Email"
      required
    />
    <button type="submit">Adicionar</button>
  </form>
</div>
