<header>
  <h1>ADA Loja</h1>
  <nav class="top-menu">
    <ul>
      <li><a routerLink="/home/products">Início</a></li>
      <li><a routerLink="/home/about">Sobre</a></li>
      <li><a routerLink="/home/contact">Contato</a></li>
      <!-- <li><a routerLink="/home/login">Conta</a></li> -->



      <li><a routerLink="/home/cart">Carrinho</a></li>
      <li><a routerLink="/home/admin">Administrativo</a></li>

<!-- mostrar nome do usuário quando logado -->
      <!-- <li *ngIf="authService.isLoggedIn()">Olá, {{ authService.getUsername() }}</li> -->

<!-- Alteração de links para conta no caso de necessidade de login ou sair no caso de já estar logado -->
      <li>
  <!-- <ng-container *ngIf="authService.isLoggedIn(); else loginLink">
    <a (click)="logout()" style="cursor: pointer;">Sair</a>
  </ng-container>
  <ng-template #loginLink> -->
    <a routerLink="/home/login">Conta</a>
  <!-- </ng-template> -->
</li>

    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>&copy; 2025 ADA Loja. Todos os direitos reservados.</p>
</footer>
