<header>
  <h1 class="link-title"><a a routerLink="/home/products">ADA Loja</a></h1>
  <nav class="top-menu">
    <ul>
      <li><a routerLink="/home/products">Início</a></li>
      <li><a routerLink="/home/about">Sobre</a></li>
      <li><a routerLink="/home/contact">Contato</a></li>
      <li><a routerLink="/home/cart">Carrinho</a></li>

      <!-- Exibição do link Administrativo somente para usuários administradores -->
      <li *ngIf="authService.currentUser | async as user">
        <a *ngIf="user.role" routerLink="/home/admin">Administrativo</a>
      </li>

      <!-- Mostra nome do usuário somente quando logado -->
      <li *ngIf="authService.currentUser | async as user">
        Olá, {{ user.username }}
      </li>

      <!-- Altera nome do link de login: "Conta" para usuário não logado, "Sair" para não logado -->
      <li>
        <ng-container *ngIf="authService.isLoggedIn(); else loginLink">
          <a (click)="logout()" style="cursor: pointer">Sair</a>
        </ng-container>
        <ng-template #loginLink>
          <a routerLink="/home/login">Conta</a>
        </ng-template>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>&copy; 2025 ADA Loja. Todos os direitos reservados.</p>
</footer>
