<div class="page-content">
  <h2>Meu carrinho</h2>
  <p>Itens no carrinho: {{ cartService.getCartItems().length }}</p>
  <p>Preço total: {{ cartService.getTotal() | number:'1.2-2' }}</p>

  <button (click)="clearCart()" class="clear-btn">Limpar carrinho</button>

  <hr />
  @for (item of cartService.getCartItems(); track item.id) {
  <div class="cart-item">
    <p>{{ item.title }} - R$ {{ item.price }}</p>

    <button (click)="removeItem(item.id)" class="remove-btn">Remover</button>
   
  </div>
  } @empty {
  <p>Seu carrinho está vazio.</p>
  }
</div>
