/* RESET GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* CONTAINER PRINCIPAL */
.container {
  display: flex;
  padding: 2em;
  gap: 2em;
}

button {
  background-color: #4e54c8;
  color: white;
  padding: 0.8em 1.2em;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}